@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto w-full max-w-lg px-4;
}

/* Colors */
:root {
    --gold-100: linear-gradient(to right, #e8d47a 0%, #fff1c8 50%, #e8d47a 100%);
    --gold-500: linear-gradient(to right, #d4af37 0%, #ffe57f 50%, #d4af37 100%);
    --gold-900: linear-gradient(to right, #b28f32 0%, #cabc43 50%, #b28f32 100%);
}

/* Text */
.text-gold-100 {
    background: var(--gold-100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.40);
}

.text-gold-500 {
    background: var(--gold-500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.40);
}

.text-gold-900 {
    background: var(--gold-900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.40);
}

/* Border */
.border-gold-100 {
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: #000;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 1rem;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -5px;
      border-radius: inherit;
      background: var(--gold-100);
    }
}

.border-gold-500 {
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: #000;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 1rem;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -5px;
      border-radius: inherit;
      background: var(--gold-500);
    }
}

.border-gold-900 {
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: #000;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 1rem;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -5px;
      border-radius: inherit;
      background: var(--gold-900);
    }
}
