@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */

.text-gold {
    background: linear-gradient(to right, #d4af37 0%, #ffe57f 50%, #d4af37 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.35);
}

.bg-gold {
    background-image: linear-gradient(to right, #d4af37 0%, #ffe57f 50%, #d4af37 100%);
    background-size: cover;
}

.border-gold {
    border: 8px solid transparent; /* Specify the width of the border */
    border-image: linear-gradient(to right, #d4af37, #ffe57f, #d4af37) 1 stretch;
    filter: brightness(1.05);
}

/* Fonts */

.cinzel {
    font-family: 'Cinzel', serif; /* Fallback to serif in case the font doesn't load */
}

.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}

.cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
}

.cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
}
